{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <h1>Une erreur s'est produit</h1>
    <p>Si cette erreur se reproduit contacté le webmaster</p>
{% endblock %}